.text-large {
  font-size: var(--font-size-2s);
  color: var(--color-primary);
}

.text-center {
  text-align: center;
}

.text-responsive {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: fit-content;
}
