.main-container {
  margin-top: 20px;
  padding-bottom: 70px;
}

.product-row {
  display: grid;
  grid-template-columns: 2fr 1fr repeat(6, 1fr);
  gap: 0 5px;
  align-items: center;
  border-bottom: 1px solid var(--color-secondary);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
}

.product-header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: #f0f0f0;
  color: #464646;
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;

  &:hover {
    cursor: pointer;
  }
}

.product-items {
  color: #74828f;
  font-size: 14px;
  font-weight: 500;
  line-height: 32px;
}

.product-item {
  border-left: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
  padding-top: 12px;
  padding-bottom: 12px;
}

.icon-arrow {
  height: 15px;
}

.product-label:hover {
  cursor: pointer;
}

.arrow-down::after {
  content: '\2193';
  font-size: var(--font-size-2s);
  font-weight: 900;
}

.arrow-up::after {
  content: '\2191';
  font-size: var(--font-size-2s);
  font-weight: 900;
}

.arrow-down-up::after {
  content: '\21F5';
  font-size: var(--font-size-2s);
  margin-left: 2px;
}

.flex-space-between {
  position: relative;
  display: flex;
  gap: 20px;
  margin-bottom: 35px;
  align-items: flex-end;
}

.label {
  padding: 0px 7px;
  border-radius: 20px;
  color: #222222;
}

.best-seller-label {
  background: #d4f8d3;
}

.poor-seller-label {
  background: #f8f4d3;
}

.on-sale-label {
  background: #ede7fb;
}

.new-arrival-label {
  background-color: #f5e5e2;
}

.low-stock-label {
  background-color: #da8a7bd6;
}

.input-search {
  padding: 7px 30px 7px 37px;
  height: 25px;
  margin-top: 5px;
  border: 1px solid var(--color-primary);
  border-radius: 5px;

  :focus {
    border-color: var(--color-primary);
  }
}

.icon-search {
  position: absolute;
  top: 14px;
  left: 5px;
  width: 20px;
  height: 20px;
}

.icon-sort {
  width: 20px;
  height: 15px;
}

.col-product {
  user-select: none;

  &:hover {
    cursor: pointer;
  }
}

.button-filter-group {
  display: flex;
  align-items: center;
  gap: 5px;
}

.btn-reset {
  background-color: var(--color-primary);
  color: var(--color-base);
  cursor: pointer;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;

  &:hover {
    border: 1px solid var(--color-primary);
    box-shadow: 0 0 4px 0 var(--color-primary);
  }
}

.btn-filter {
  position: relative;
  padding-right: 15px;
  background-color: var(--color-base);
  line-height: 18px;

  &:hover {
    background-color: #2b2b2b;
    color: var(--color-base);
  }
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.label-selection {
  font-size: var(--font-size-xs);
  color: #595656;
}

.select-filter {
  position: relative;
  padding: 8px 20px 8px 9px;
  color: var(--color-primary);
  cursor: pointer;
  appearance: none;

  &:hover {
    border: 1px solid var(--color-primary);
    box-shadow: 0 0 4px 0 var(--color-primary);
  }

  option {
    background-color: var(--color-primary);
    color: var(--color-base);
  }
}

.select-filter-wrapper {
  position: relative;

  &::after {
    content: '\23F7';
    position: absolute;
    top: 45%;
    right: 0;
    transform: translateY(-50%);
    display: block;
    font-size: 16px;
    font-weight: 600;
    padding-right: 5px;
    color: var(--color-primary);
  }
}

.button-add-product {
  cursor: pointer;
  background-color: var(--color-base);
  height: 38px;
  padding: 0 10px;
  font-size: var(--font-size-s);
  font-weight: 700;
  border-radius: 5px;
  text-transform: uppercase;
  border: 1px solid var(--color-primary);
  margin-left: auto;
  color: var(--color-primary);

  &:hover {
    background-color: var(--color-primary);
    color: var(--color-base);
  }
}

.btn-actions-group {
  display: flex;
  gap: 10px;
}

.btn-action {
  background-color: transparent;
  border: none;

  &:hover {
    cursor: pointer;
    scale: 1.1;
  }
}
