.spinner-container {
  display: flex;
  flex-flow: column;
  align-items: center;
}
h1 {
  color: #444;
}
.circle-svg {
  background: #fff;
}
.circle-svg circle {
  stroke: red;
  stroke-width: 4;
  fill: transparent;
  transform-origin: center;
  stroke-dasharray: var(--circumference);
  animation: spinner 2s ease-out infinite;
}

@keyframes spinner {
  from {
    stroke-dashoffset: var(--circumference);
    stroke: red;
    transform: rotateZ(0deg)
  }
  to {
    stroke-dashoffset: calc(var(--circumference) * -1);
    stroke: green;
    transform: rotateZ(720deg)
  }
}
